services:
  frontend:
    networks:
      - traefik-public
      - default
    labels:
      - traefik.enable=true
      - traefik.docker.network=traefik-public
      - traefik.http.routers.frontend-${APP_NAME}.rule=Host(`${SITE_HOST}`)
      - traefik.http.routers.frontend-${APP_NAME}.entrypoints=web
      - traefik.http.services.frontend-${APP_NAME}.loadbalancer.server.port=8080

networks:
  traefik-public:
    external: true
